<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.gdou.www.gdouaqualib"
          android:versionCode="4"
          android:versionName="1.4">

    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".view.activity.SettingActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.AboutActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.UserGuideActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.DetailsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.EchinodermActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.CoelenteronActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.RheidActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.FishActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.RheidExogenousActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.SimpleFishActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.SearchActivity"
            android:screenOrientation="portrait">
        </activity>

        <service
            android:name=".services.DownloadService"
            android:enabled="true"
            android:exported="true">
        </service>
        <receiver android:name=".receiver.networkReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <activity android:name=".view.activity.ParticularActivity"
                  android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
